{
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-runtime",
    "babel-plugin-transform-object-rest-spread"
  ],
  "presets": [
    "babel-preset-es2017",
    "babel-preset-es2016",
    "babel-preset-es2015"
  ]
}
